<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Carolina Basketball</title>
        <link rel='stylesheet' href='/static/styles.css' />

    </head>
    <body>               
        <p>UNC Basketball</p>
        <p class='hello' id='world' >UNC Basketball</p>
        <a href="/create-todo">take note of something!</a>
        <p 
        class="loser">Coach k's history of losing to UNC'
    </p>
        <img 
        src="https://i.pinimg.com/736x/b1/1e/69/b11e6920e6e637eab7cae5ea6487ee6e--duke-game-duke-unc.jpg" 
        alt="coach k closely resembles a rat">
    </body>
</html>